WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.storm.com" xmlns:intf="http://service.storm.com" xmlns:tns1="http://domain.storm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.storm.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://service.storm.com">
   <import namespace="http://domain.storm.com"/>
   <element name="getUserDetails">
    <complexType>
     <sequence>
      <element name="user" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserDetailsResponse">
    <complexType>
     <sequence>
      <element name="getUserDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://domain.storm.com">
   <complexType name="User">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserDetailsRequest">

      <wsdl:part element="impl:getUserDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserDetailsResponse">

      <wsdl:part element="impl:getUserDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="getUserDetails">

         <wsdl:input message="impl:getUserDetailsRequest" name="getUserDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserDetailsResponse" name="getUserDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:9080/StackWebService/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
